@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Raleway:wght@700&display=swap');

*{ box-sizing: border-box }
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}
html{
    background: #33383a; /* ADD COLOR FROM LOGO */
    padding: 1em;
    color: white;
    font-family: 'Lusitana', serif;
}
body{
    max-width: 900px;
    margin: 0 auto 2em;
    padding: 0 1em;
}

#logo{
    width: 100px;
}

a{
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    padding: 0 1em;
}