<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linus Rudbeck - Code Pipeline</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">

    <link rel="stylesheet" th:href="'/style.css?v=' + ${#dates.format(#dates.createNow(), 'yyMMddHHmm')}">
</head>
<body>


<header>
    <img src="/logo.png" alt="My logo" id="logo">

    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<h1>Linus Rudbeck - Code Pipeline</h1>

<hr>