<div th:replace="fragments/header" />


<h2>Contact Information:</h2>
<ul class="contact-information">
    <li>
        <span class="material-icons contact-icon">mail</span>
        <strong>Email:</strong> linus.rudbeck@distansakademin.se
    </li>
    <li>
        <span class="material-icons contact-icon">phone_in_talk</span>
        <strong>Phone:</strong> 076-323 74 94
    </li>
    <li>
        <img src="/linkedin.png" alt="LinkedIn" class="contact-icon">
        <strong>LinkedIn:</strong>
        <a href="https://www.linkedin.com/in/liru" target="_blank">linkedin.com/in/liru</a>
    </li>
</ul>

<h2>Location:</h2>
<p>Jönköping, Jonkoping County, Sweden</p>

</body>
</html>