<div th:replace="fragments/header" />

<h2>My projects</h2>

<p>These are some of the projects that I am proud of.</p>

<hr>

<h3>Scooter Python</h3>

<p>I created a python project for a simple game</p>

<p>
    <a href="https://github.com/linus-rudbeck/scooter-python" target="_blank">Link to github</a>
</p>

<hr>

<h3>Node Handlebars template</h3>

<p>I created a Node Handlebars template</p>

<p>
    <a href="https://github.com/linus-rudbeck/node-handlebars-portfolio-template" target="_blank">Link to github</a>
</p>

<hr>
</body>
</html>